span {
  clear: left;
  float: left;
  display: inline;
}

.app {
  overflow:auto;
}

.holder {
  padding-left:10pt;
  border-style: none;
  overflow: hidden;
}

body {
  background-color: #9ecbd2;
  text-align: center;
  background-image: url('https://4.bp.blogspot.com/-e-LMO43WW6g/VJB2FxL31UI/AAAAAAABZjY/rnaCW7GLPiw/s0/Camping%2Bin%2Bthe%2Bwoods%2BUHD.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}
.col-md-8 {
  width: 40em;
  float: right;
}

.col-md-12 {
  width: 100%;
  height: 10em;
  margin: auto;
  float: left;
}

.logoBox {
  background-image: -moz-linear-gradient(left, rgba(10,49,84,1), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(10,49,84,1), rgba(0, 0, 0, 0));
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(10,49,84,1)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(10,49,84,1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(10,49,84,1), rgba(0, 0, 0, 0));
  background-image: linear-gradient(left, rgba(10,49,84,1), rgba(0, 0, 0, 0));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(10,49,84,1)', endColorstr='rgba(0, 0, 0, 0)', GradientType=1);
  padding: 7rem 0;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 40em;
}

.fadeBar {
  background-image: -moz-linear-gradient(left, rgba(252,177,42,1), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(252,177,42,1), rgba(0, 0, 0, 0));
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(252,177,42,1)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(252,177,42,1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(252,177,42,1), rgba(0, 0, 0, 0));
  background-image: linear-gradient(left, rgba(252,177,42,1), rgba(0, 0, 0, 0));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(252,177,42,1)', endColorstr='rgba(0, 0, 0, 0)', GradientType=1);
  padding: .12em 0;
  position: absolute;
  top: 9.9em;
  z-index: 3;
  left: 0;
  width: 80%;
}

.title {
 margin: auto;
 text-decoration: underline;
 font-size: 2em;
 color: white;
 z-index: 2;
 top: 0.5em;
 left: 2.9em;
 position: absolute;
 font-family: 'Fredericka the Great', cursive; 
}

.grid {
  margin: auto;
  font-size: 7em;
  color: white;
  z-index: 2;
  top: .33em;
  left: .3em;
  position: absolute;
  font-family: 'Fredericka the Great', cursive; 
}

.search-box img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 10em;
  opacity: 0.5;
  z-index: 0;
}

.search-box {
  display: inline-block;
  overflow: auto;
  z-index: 2;
}

.search-list-fields input {
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  font: bold;
  text-align: center;
  height: 2.5em;
  margin: 0.5em;
  margin-top: 1em;
  font-size: 1.15em;
  box-sizing:border-box;
  border: .1em solid white;
  display: inline-block;
  z-index: 3;
}

.search-list-actions button {
  background-color: rgba(10,167,52, 0.7);
  border:none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: .1em solid white;
  margin-top: .5em;
  z-index: 3;
}

.dontoverflow {
  overflow:auto;
}

.camp-details {
  border-bottom-style: .2em solid white;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.camp-details.row {
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: .4em;
}

.campgroundName {
  color: black;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.campground-list{
  margin: 3em;
  margin-top: 2em;
  overflow: auto;
  max-width: 55em;
  max-height: 34em;
}

h2 {
  color: white;
  font-weight: bolder;
  margin: 0em 0em 0em 2em;
  padding-top: 1em;
  margin-top: 0;
  text-align: center;
}

.gMap {
  float: right;
  margin-right: 4em;
  margin-top: 5.5em;
  margin-left: 3em;
  width: 35em;
  height: 34em;
  opacity: .8;
}

.campgroundPhotoDiv {
  display: block;
  float: left;
}

.campgroundPhoto {
  margin: .5em;
  height: 64px;
  width: 106px;
}

.campgroundInfo {
  display: block; 
}

.amenitiesIcon {
  max-width: 80px;
  max-height: 53px;
  padding: 1em 1em 1em 1em;
  position: relative;
  display: inline-block;
}

::-webkit-input-placeholder {
   color: white;
   font-weight: bold;
   opacity: 1 !important; /* for chrome */
}

.container {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fireflies {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 800px;
}

.firefly {
  position: absolute;
  border-radius: 100%;
  background: -webkit-radial-gradient(center, ellipse cover, #f7c138 0%, #f7c138 50%, rgba(254, 252, 234, 0) 100%);
  background: radial-gradient(ellipse at center, #f7c138 0%, #f7c138 50%, rgba(254, 252, 234, 0) 100%);
}

.highlight {
  position: absolute;
  width: 150%;
  height: 150%;
  left: -25%;
  top: -25%;
  border-radius: 100%;
  background: -webkit-radial-gradient(center, ellipse cover, white 0%, white 50%, rgba(255, 255, 255, 0) 100%);
  background: radial-gradient(ellipse at center, #ffffff 0%, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
}