span {
    clear: left;
    float: left;
    display: inline;
}
ul {
    list-style-type: none;
}
li {
    text-align: left;
}
.app{
  overflow:auto;
}
.holder {
    padding-left:10pt;
    border-style: none;
    overflow: hidden;
}
.caption {
    font-weight: bold;
    font-size: 25px;
}
.bold {
    font-weight: bold;
}

body {
    background-color: #9ecbd2;
    text-align: center;
    background-image: url("http://cdn0.unrth.com/images/contents/138/camping-wallpaper.jpeg.original.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.search-box {
    display: inline-block;
    overflow:auto;
}

.search-list-fields input {
    width: 150px;
    min-width: 80px;
    padding: 10px;
    box-sizing:border-box;
}

.search-list-actions button {
    background-color: #4CAF50;
    border:none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.dontoverflow{
    overflow:auto;
}

.camp-details {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.camp-details label {
    font: bold 100% "Arial";
    color: #464646;
    position: relative;
    width: 60%;
    display: inline-block;
    padding: 10px 15px 10px 0px;
}
.camp-details img {
    max-width: 80px;
    max-height: 53px;
    padding: 10px 15px 10px 30px;
    position: relative;
    display: inline-block;
}
.campground-list{
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    margin:0px;
    background-color: white;
    width: 100%;
    min-width: 400px;
    overflow: auto;
    max-height:100%;

}

.campground-info{
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    border-color: #000000;
    margin:0px;
    background-color: white;
    width: 100%;
    min-width: 400px;
    overflow: auto;
    max-height:100%;

}


