

span {
    clear: left;
    float: left;
    display: inline;
}
.app{

}


body {
    background-color: #9ecbd2;
    text-align: center;
    background-image: url("http://67.media.tumblr.com/tumblr_m7k4t8IFYi1rvlag0o1_500.gif");
    background-repeat: no-repeat;
    background-size: cover;
}


.search-box {
    display: inline-block;
}

.search-list-fields input {
    width: 150px;
    min-width: 80px;
    padding: 10px;
    box-sizing:border-box;
}

.search-list-actions button {
    background-color: #4CAF50;
    border:none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.camp-details {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: 000000;
    width: 100%;
    padding: 0px;
    margin: 0px; 
}
.camp-details label {
    font: bold 100% "Arial";
    color: #464646;
    position: relative;
    width: 60%;
    display: inline-block;
    padding: 10px 15px 10px 0px;
}
.camp-details img {
    max-width: 80px;
    max-height: 53px;
    padding: 10px 15px 10px 30px;
    position: relative;
    display: inline-block;
}
.campground-list{
    border-style: solid;
    border-width: 4px;
    border-color: 000000;
    margin:0px;
    background-color: darkred;
    width: 100%;
    min-width: 400px;
}


.search{

}

.campground{

}
